/*Mobile first style*/

/*Local page style*************************************************************/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.separator {
    padding-left: 15px;
    padding-right: 15px;
}

.scientific-projects {
    padding-top: 10px;
    padding-left: 10px;
}

.scientific-projects-list {
    margin-left: 25px;
}

.scientific-projects-list > ul {
    margin-left: 25px;
    margin-bottom: 0.4em;
}

#app {
   display: flex;
   flex-direction: column;
   overflow-y: scroll;
}

#layout-footer {
   height: 85px;
   min-height: 85px;
}

#industrial-projects {
    padding-left: 0px;     /* Eventually delete */
}

#content-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

#projects-table > tr > td {
    padding-bottom: 0.4em;
}

#projects-table > tr > td > ul {
    padding-left: 1em;
}


/* Tablet Style ***************************************************************/
@media only screen and (min-width: 481px) and (max-width: 767px) {
    #presentation {
        display: inherit;
    }
}


/* Big Tabelt, small Desktop Style ********************************************/
@media only screen and (min-width: 768px) and (max-width: 980px) {
    #content-container {
        overflow-y: auto;
    }
}


/* Desktop Style **************************************************************/
@media only screen and (min-width: 981px) {
    #content-container {
        overflow-y: auto;
    }
}