/*Mobile first style*/

/*Local page style*************************************************************/
body {
    display: flex;
    flex-direction: column;
}

#biography-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}


/* Tablet Style ***************************************************************/
@media only screen and (min-width: 481px) and (max-width: 767px) {

}


/* Big Table, small Desktop Style *********************************************/
@media only screen and (min-width: 768px) and (max-width: 980px) {
    #biography-container {
        overflow-y: auto;
    }
}


/* Desktop Style **************************************************************/
@media only screen and (min-width: 981px) {
    #biography-container {
        overflow-y: auto;
    }
}

