/*Mobile first style*/

/*Local page style*************************************************************/
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  width: 100%;
  max-width: 380px;
  border-top: 1px black solid;
  border-left: 1px black solid;
  border-right: 1px black solid;
  background-color: darkgray;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 8px 0;
  text-align: center;     /*To be deleted*/
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0px;
  padding: 10px;
  left: 50%;                    /*For absolute positioned flex centering*/
  transform: translateX(-50%);  /*For absolute positioned flex centering*/
}

.section {
  /*Debug*/
  border: 1px solid red;
  /*Dimensions settings*/
  width: 100%;
  /*test*/
  padding: 20px 20px;
  scroll-behavior: smooth;    /*Scroll behavior*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-buttons-box {
  margin: 10px;
  height: auto;
  min-width: 150px;
  max-width: 240px;
}

.spacer {
  height: 103px;
}

#presentation-container {
  height: 85%;
}

#profile-image {
  margin: 10px;    /*Consider padding 10px margin 10px*/
  width: 100%;
  max-width: 250px;
  display: flex;
  justify-content: center;
}

#profile-image img {
  width: min(65vw, 100%);
  height: auto;
  object-fit: cover;
  border: 1px solid black;
  border-radius: 50%;
}

#profile-name {
  text-align: center;
  white-space: nowrap;
}

#homepage {
  margin: 10px 10px;
  font-size: min(5vw, 16.17px);
  color: white;
  text-decoration: none;
}

/* Small Tablet Style *********************************************************/
@media only screen and (min-width: 426px) and (max-width: 768px) {

}


/* Big Tablet, Small Desktop Style ********************************************/
@media only screen and (min-width: 769px) and (max-width: 980px) {

}


/* Desktop Style **************************************************************/
@media only screen and (min-width: 981px) {

}

