/*Mobile first style*/

/*Local page style*************************************************************/
#biography {
    /*Dimensions settings*/
    padding: 0 30px; 
    margin: 0;
}


/* Desktop Style **************************************************************/
@media only screen and (min-width: 451px) {
    #biography {
        /*Dimensions settings*/        
        width: 633.6px;
        height: 100%;
        /*Position settings*/
        position: relative;
        left: 326.8px;
	}

    /*Think to change it into .content-container*/
    #biography-container {
        /*Dimensions settings*/
        width: 100%;
        margin: 25px;
    }
}