/*Mobile first style*/

/*Local page style*************************************************************/
.section {
  /*Debug*/
  border: 1px solid red;
  /*Dimensions settings*/
  width: 100%;
  height: 100%;
  /*test*/
  margin: 0;
  padding: 10px 10px;
  scroll-behavior: smooth;    /*Scroll behavior*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Small Tablet Style *********************************************************/
@media only screen and (min-width: 426px) and (max-width: 768px) {

}


/* Big Tablet, Small Desktop Style ********************************************/
@media only screen and (min-width: 769px) and (max-width: 980px) {

}


/* Desktop Style **************************************************************/
@media only screen and (min-width: 981px) {

}

