/*Mobile first style*/

/*Local page style*************************************************************/

#biography {
    /*Dimensions settings*/
    display: flex;
    align-items: center;
}

#biography-container {
    padding: 10px;
    max-height: 100%;
}


/* Tablet Style ***************************************************************/
@media only screen and (min-width: 426px) and (max-width: 768px) {
    #biography {
        /*Dimensions settings*/        
        min-height: 66%;
        height: auto;
	}
}


/* Desktop Style **************************************************************/
@media only screen and (min-width: 769px) {
    #biography {
        /*Dimensions settings*/        
        width: 633.6px;
        height: 100%;
        /*Position settings*/
        position: relative;
        left: 326.8px;
	}

    /*Think to change it into .content-container*/
    #biography-container {
        /*Dimensions settings*/
        width: 100%;
    }
}