/*Mobile first method*/

* {
    /*Dimensions settings*/
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;     /*To have width and height referred to the outer
                                 part of the box and not to its content*/
}

/*Semantic settings for legacy browsers*/
section, article, aside, footer, header, nav {
    display: block;
}

html, body {
    /*Dimensions settings*/
    height: 100%;
}

body {
    /*Flexbox settings*/
    display: flex;
    flex-wrap: wrap;
}

.section {
    /*Dimensions settings*/
    width: 100%;
    height: 100%;
    padding: 0 0;
    /*Flexbox settings*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;                /*For managing flexbox overflow*/
    justify-content: center;
    align-content: space-around;    /*For spacing flexboxes alongside 
                                    the main axis*/
}

.icon-buttons-box {
    /*Flexbox settings*/
    display: flex;
    align-items: center;
    justify-content: center; 
}

.icon-button {
    /*Dimensions settings*/
    margin: 0 5px 0 5px;
    height: 80px;
    width: 80px;
    /*Flexbox settings*/
    display: flex;
}

.icon-button:active {
    transform: scale(1.15);
}

.cv-download:link {
    /*color: rgb(79, 79, 147);*/
    color: rgb(9, 255, 0);
    text-decoration: none;
}

.cv-download:active {
    color: rgb(241, 206, 3);
    text-decoration: none;
}

.cv-download:visited {
    color: rgb(79, 79, 147);
    /*color: rgb(9, 255, 0);*/
    text-decoration: none;
}

/*Maybe you could get rid of the pic box and directly "flex-box" the img span.*/
#profile-image {
    /*Dimensions settings*/
    margin-top: 10%;
    padding: 0 0;
    width: 100%;
    /*Flexbox settings*/
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#profile-name {
    /*Dimensions settings*/
    width: 100%;
    /*Flexbox settings*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#profile-name h1, #profile-name h2 {
    /*Dimensions settings*/
    width: 100%;    
    text-align: center;
}

#me {
    /*Dimensions settings*/
    width: 250px;               /*Make this setting relative*/
    height: 250px;              /*Make this setting relative*/
    object-fit: cover;
    border: 5px solid black;
    border-radius: 50%;
}

#bibliography {
    /*Dimensions settings*/
    padding: 0 40px;
}


/* Desktop Style */
@media only screen and (min-width: 401px) {
	body {
        /*Dimensions settings*/
        width: 960px;
        margin: 0 auto; /*Deletes margins on the upper and lower side, and 
                        distributes the space evenly on the left and on the 
                        right*/
    }

    .icon-button:hover {
        transform: scale(1.15);
    }
    
    .cv-download:hover {
        color: rgb(202, 53, 53);
    }

    #presentation {
        /*Color settings*/
        background-color: #36373c;
		/*Flexbox settings*/
        flex: 2;
	}

    #bibliography {
        /*Dimensions settings*/
        position: relative;
        bottom: 50px;
        /*Flexbox settings*/
        flex: 3;
        height: max-content;
        align-self: center
	}
}