.me {
    width: 250px; 
    height: 250px; 
    overflow: hidden;
    object-fit: cover;
    object-position: 50% 50%;
    padding: 15px;
    border: 5px solid black;
    border-radius: 50%;
}

.page-container {
    border: 5px solid violet;
    display: flex;
}


.left-box {
    border: 5px solid red; 
    display: flex;
    flex-direction: column;
    text-align: center;
}

.personal-name {
    border: 5px solid green; 
    /*display: flex;*/
    flex-direction: column;
    text-align: center;
}

.links-container {
    list-style: none;
}

.links {
    border: 5px solid blue;
}

.list {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.button {
    display: block;
    text-decoration: none;
    text-align: center;

    width: 120px;
    height: 100px;
    padding: 5px;
    margin: 2.5px;
    border: 2px solid #5D6063;
    border-radius: 5px;
}

.git-cat {
    height: 90px;
}

.right-box {
    border-color: 5px solid green;
    display: flex;
    text-align: left;
    padding-left: 20px;
}

.bio-header {
    font-size: 30px;
}
