/*Mobile first style*/

/*Local page style*************************************************************/
.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-form-container {
    /*background-color: #36373c;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

#contact-form-header {
    /*Fonts settings*/
    text-align: center;
    /*Dimensions settings*/
    width: 100%;
}

#message-form {
    height: auto;
    text-align: center;
}


/* Tablet Style ***************************************************************/
@media only screen and (min-width: 426px) and (max-width: 768px) {
    #presentation{
        display: inherit;
    }
    
    #contact {
        min-height: 66%;
        height: auto;
    }
    
    #contact-form-container {
        border: 1px solid red;
        height: 100%;
        max-width: 550px;
    }
}


/* Desktop Style **************************************************************/
@media only screen and (min-width: 769px) and (max-width: 980px) {
    #presentation{
        display: inherit;
    }
    
    #contact {
        /*Dimensions settings*/
        width: calc(100% - 316.8px);
        height: 100%;
        /*Position settings*/
        position: relative;
        left: 316.8px;
    }

    /*Think to change it into .content-container*/
    #contact-form-container {
        /*Dimensions settings*/
        width: 100%;
    }

    #submit-button button {
        width: 100%;
    }
}

@media only screen and (min-width: 981px) {
    #presentation {
        display: inherit;
    }
    
    #contact {
        /*Dimensions settings*/        
        height: 100%;
	}

    /*Think to change it into .content-container*/
    #contact-form-container {
        /*Dimensions settings*/
        padding: 0;
    }
}