<article class="section" id="contatct-cta-container">
    <section>
        <p> 
            Do you want to know more about me? <a class="link" 
            id="cv-download" 
            href="/assets/docs/cv/CV 4.11 - Matteo Martinelli - with Certificates - ENG.pdf"
            target="_blank" rel="noopener noreferrer">
            Download my CV! 📜</a>
            </br>
            Do you want to contact me? Use the   
            <a class="link" 
            href="https://www.linkedin.com/in/matteo-martinelli/"
            target="_blank" rel="noopener noreferrer">
            LinkedIn</a> link, or 
            <!--contact me with an 
            <a class="link" id="contact-form-link" 
            href="/contact">
            e-mail!</a>-->
            send me an
            <a class="link" id="contact-form-link" href="">e-mail!</a>
        </p>
    </section>
</article>