/*Mobile first style*/

/*Local page style*************************************************************/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.editions-list {
    padding-left: 1em;
    margin-bottom: 0.4em;
}

.modules-dropdown-list {
    margin-bottom: 0.5em;
}

.modules-dropdown-list > summary {
    padding-left: 10px;
    line-height: 1.8em;
    font-style: italic;
    font-weight: bold;
    background-color: #314058;
    border-radius: 10px;
}

.module-description-list {
    margin-left: 1.7em;
    margin-bottom: 0.4em
}

#content-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

#course-projects {
    padding-bottom: 0.3em;
}

#training-intro {
    padding-bottom: 0.5em;
}

#course-projects-list {
    margin-left: 0.5em;
}


/* Tablet Style ***************************************************************/
@media only screen and (min-width: 481px) and (max-width: 767px) {
    #presentation {
        display: inherit;
    }
}


/* Big Tabelt, small Desktop Style ********************************************/
@media only screen and (min-width: 768px) and (max-width: 980px) {
    #content-container {
        overflow-y: auto;
    }
}


/* Desktop Style **************************************************************/
@media only screen and (min-width: 981px) {
    #content-container {
        overflow-y: auto;
    }
}
