/*Mobile first style*/

/*FONT-FACES*******************************************************************/
@font-face {
  font-family: 'Roboto';
  src: url('typography/Roboto-Regular-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto Light Italic';
  src: url('typography/Roboto-LightItalic-webfont.woff') format('woff');
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('typography/Roboto-Bold-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

/*Global site style************************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   /*To set dimensions rendering based on the actual 
                              external box size*/
}


/*Semantic settings for legacy browsers*/
section, article, aside, footer, header, nav {
  display: block;
}

html, body {
  /*Dimensions settings*/
  height: 100%;
}

/*Merge with the lower code*/
body {
  /*Background settings*/
  background-color: #282935; 
  /*Flexbox settings*/
  display: flex;
  flex-wrap: wrap;
  /*Fonts settings*/
  font-family: 'Roboto', sans-serif; 
  font-size: 16.17px;
  color: #FFFFFF;                    /*Font color*/
  font-family: 'Roboto',sans-serif;
  font-size: 16.17px;
  /*line-height: 1.8em;*/
  line-height: 1.65;  
}

.section {
    /*Dimensions settings*/
  width: 100%;
  height: 100%;
  /*test*/
  margin: 0;
  padding: 10px 10px;
  /*Flexbox settings*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;                /*For managing flexbox overflow*/
  justify-content: center;
  align-content: space-around;    /*For spacing flexboxes alongside 
                                  the main axis*/
  /*Scroll behavior*/
  scroll-behavior: smooth;
}

.icon-buttons-box {
  /*Flexbox settings*/
  display: flex;
  align-items: center;
  justify-content: center; 
}

.icon-button {
  /*Dimensions settings*/
  margin: 0 5px 0 5px;
  height: 80px;
  width: 80px;
  /*Flexbox settings*/
  display: flex;
}

.icon-button:active {
  /*Transform settings*/
  transform: scale(1.15);
}

.link:link {
  /*Fonts settings*/
  color: rgb(9, 255, 0);
  text-decoration: none;
}

.link:active {
  /*Fonts settings*/
  color: rgb(241, 206, 3);
  text-decoration: none;
}

.link:visited {
  /*Fonts settings*/
  color: rgb(79, 79, 147);
  text-decoration: none;
}

.radio-selector {
  /*Background settings*/
  border: none;
  /*Dimensions settings*/
  padding-bottom: 10px;
}

.radio-selector legend{
  /*Dimensions settings*/
  margin: 5px 0 0 0;
}

.radio-selector .radio-label{
  /*Fonts settings*/
  font-size: 18px;
  /*Dimensions settings*/
  margin: 0 13px 0 2px;
}

.radio-selector input[type='radio']{
  /*Dimensions settings*/
  margin-top: 2px;
}

.radio-selector legend{
  /*Dimensions settings*/
  padding-right: 10px;
}

.text-form {
  /*Dimensions settings*/
  padding-bottom: 10px;
  /*Flexbox settings*/
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.text-form input[type='text'],
.text-form input[type='email'],
.text-form textarea {
  /*Background settings*/
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 6px;
  /*Dimensions settings*/
  width: 100%;
  padding: 5px;
  font-size: 14px;
}

.text-form textarea {
  /*Fonts settings*/
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  /*Dimensions settings*/
  min-height: 200px;    /*How to make it responsive?*/
  min-width: 270px;     /*How to make it responsive?*/
  margin-bottom: 1px;
  padding: 7px;
  resize: none;
  overflow: auto;
}

.text-form label {
  /*Dimensions settings*/
  margin-top: 5px;
}

.text-form .instruction {
  /*Font settings*/
  color: #999999;
  font-size: 12px;
  text-align: center;
  /*Dimensions settings*/
  margin-bottom: 10px;
}

.sub-button button {
  /*Font settings*/
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  /*Background settings*/
  background-color: rgb(106, 106, 200);
  border: 1px solid black;
  border-radius: 6px;
  /*Dimensions settings*/;
  padding: 10px 40px;
  cursor: pointer;
}

.sub-button button:active {
  /*Font settings*/
  color: #FFFFFF;
  /*Background settings*/
  background-color: #407FC7;
  border: 2px solid blue;
  /*Transform settings
  transform: scale(1.15);*/
}

/*Presenation card global setting*/
#presentation {
  /*Background settings*/
  background-color: #36373c;
  /*border: 1px solid black;*/
  border-radius: 30px;
  /*Dimensions settings*/
  height: 97.7%;
  width: 97%;
  /*Position settings*/
  margin: 10px 10px;
}

#profile-image {
  /*Dimensions settings*/
  margin-top: 10%;
  padding: 0 0;
  width: 100%;
  /*Flexbox settings*/
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#me {
  /*Dimensions settings*/
  width: 250px;
  height: 250px;
  /*Rendering settings*/
  object-fit: cover;
  border: 1px solid black;
  border-radius: 50%;
}

#profile-name {
  /*Dimensions settings*/
  width: 100%;
  /*Flexbox settings*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#profile-name h1, #profile-name h2, #profile-name h3 {
  /*Dimensions settings*/
  width: 100%;    
  text-align: center;
}

#homepage {
  color: white;
  text-decoration: none;
}

.section {
  /*Debug*/
  border: 1px solid red;
}


/* Desktop Style **************************************************************/
@media only screen and (min-width: 451px) {
	body {
    /*Dimensions settings*/
    width: 960px;
    margin: 0 auto; /*Deletes margins on the upper and lower side, and 
                    distributes the space evenly on the left and on the 
                    right*/
  }

  .icon-button:hover {
    /*Transform settings*/
    transform: scale(1.15);
  }
    
  .link:hover {
    /*Fonts settings*/
    color: rgb(202, 53, 53);
  }

  .sub-button button:hover {
    /*Fonts settings*/
    color: #36373C;
    /*Background settings
    background-color: rgb(9, 255, 0);*/
  }

  /*Presentation card global setting*/
  #presentation {
    /*Dimensions settings*/
    width: 316.8px;
    /*Position settings*/
    position: fixed;    /*Removes the flexbox from the flow*/  
  }
}