/*Mobile first style*/

/*Local page style*************************************************************/
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

#projects-table, .separator {
    /*Dimensions settings*/
    padding: 10px;
}


/* Tablet Style ***************************************************************/
@media only screen and (min-width: 481px) and (max-width: 768px) {
    #presentation {
        display: inherit;
    }

    #projects {
        min-height: 66%;
        height: auto;
    }
}


/* Big Tabelt, small Desktop Style ********************************************/
@media only screen and (min-width: 769px) and (max-width: 980px) {
    /*#presentation{
        display: inherit;
    }

    #projects {
        /*Dimensions settings*/        
    /*    width: calc(100% - 316.8px);
        height: 100%;
        /*Position settings*/
    /*    position: relative;
        left: 316.8px;
	}

    /*Think to change it into .content-container*/
    /*#projects-container {
        /*Dimensions settings*/
    /*    width: 100%;
    }*/

    #projects-container {
        overflow-y: hidden;
    }
}


/* Desktop Style **************************************************************/
@media only screen and (min-width: 981px) {
    /*#presentation {
        display: inherit;
    }
    
    #projects {
        /*Dimensions settings*/        
        /*height: 100%;
	/*}

    /*Think to change it into .content-container*/
    /*#projects-container {
        /*Dimensions settings*/
    /*    width: 100%;
    }*/
    #projects-container {
        overflow-y: hidden;
    }
}