/*Mobile first style*/

/*Local page style*************************************************************/
#presentation {
    display: none;
}

/*Keep in the actual page*/
#projects {
    /*Dimensions settings*/
    padding: 0 30px;
    margin: 0 0px;
}

#projects-table, .separator {
    /*Dimensions settings*/
    padding: 10px;
}


/* Desktop Style **************************************************************/
@media only screen and (min-width: 451px) {
    #presentation{
        display: inherit;
    }
    
    #projects {
        /*Dimensions settings*/        
        width: 633.6px;
        height: 100%;
        /*Position settings*/
        position: relative;
        left: 326.8px;
	}

    /*Think to change it into .content-container*/
    #projects-container {
        /*Dimensions settings*/
        width: 100%;
        margin: 25px;
    }
}