#exercise {
    text-align: center;
}

#project {
    text-align: center;
}

.js-basics-project{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.js-basics-project p{
    font-size: 40px;
    padding: 20px;
    width: 100%;
}

.js-basics-project div button{
    font-size: 20px;
    position: relative;
}

#button-decrement {
    width: 50%;
}

#button-increment {
    width: 50%;
}

#increment {
    position: relative;
    right: 120px;
}

#decrement {
    position: relative;
    left: 120px;
}