<!-- TODO: It needs to be split into 2 or 3 subcomponents -->
<div id="presentation-container">
    <figure id="profile-image">
        <img src="/data/images/personal/personal-pic-resized.svg" 
        alt="Mr. Matteo Martinelli"/>
    </figure>

    <a class="home-button" id="homepage" 
        href="/index">
        <div id="profile-name">
            <h2>Matteo Martinelli</h2>
            <h3>Management Engineer</h3>
            <h3>🏭 Industrial Digital Twins Researcher 🏭</h3>
        </div>
    </a>

    <nav class="icon-buttons-box">
        <!-- Github -->  
        <a class="icon-button" id="github" 
        href="https://github.com/matteo-martinelli" 
        target="_blank" rel="noopener noreferrer">
            <img src="/data/images/icons/landing-page/github-light-transparent-bordered.svg">
            <!--my repos-->
        </a>
        
        <!-- Linkedin -->
        <a class="icon-button" id="linkedin" 
        href="https://www.linkedin.com/in/matteo-martinelli/?locale=en_US" 
        target="_blank" rel="noopener noreferrer">
            <img src="/data/images/icons/landing-page/linkedin-bordered.svg">
            <!--my linkedin-->
        </a>
    </nav>

    <article>
        <p>
            I hold a Ph.D. in <a href="http://www.iii.unimore.it/site/home.html" 
            target="_blank" 
            rel="noopener noreferrer"
            style="color: whitesmoke;"> 
            <b><em>Intelligent Industrial Engineering</em></b>
            </a> from the 
            <a href="https://www.dismi.unimore.it/it" 
            target="_blank" 
            rel="noopener noreferrer"
            style="color: whitesmoke;"> 
            <b style="color: whitesmoke;"> <em>University of Modena and Reggio Emilia - </em></b>
            <b style="color: #b0b0bb;">Uni</b>
            <b style="color: #D24124;">MORE</b>.
            </a>
        </p>

        <p style="margin-top: 0.5em;">
            As part of the <a href="https://dipi-unimore.netlify.app/"
            target="_blank" 
            rel="noopener noreferrer"
            style="color: whitesmoke;"> 
            <em>Distributed and Pervasive Intelligence Group</em></a>, 
            my research focuses on the development and application of 
            <em><b>Industrial Digital Twins</b></em> to support smarter and more 
            connected manufacturing systems.
        </p>
    </article>
</div>